.App {
  height: 100vh;
  background-color:#ccc;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 1rem 1rem 4rem 1rem;
  box-sizing: border-box;
}

.Block {
  display: flex;
  font-size: weight;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #fff;
  text-shadow: 0rem 0rem 0.75rem #000;
  transition: all 500ms ease-out;
}

.Column {
  flex-direction: column;
}

.JustifySpace {
  justify-content: space-between;
}

.JustifyEnd {
  justify-content: flex-end;
}

.AlignCenter {
  align-items: center;
}

.Name {
  font-size: 72px;
}

.Price {
  font-size: 72px;
}

.Desc {
  font-size: 24px;
}

.Weight {
  font-size: 36px;
}

.Eighteen {
  font-size: 36px;
}