.App {
  height: 100vh;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 72px;
  font-weight: bold;
  padding-bottom: 4rem;
  box-sizing: border-box;
  color: #fff;
  text-shadow: 0rem 0rem 0.75rem #000;;
}
